body{
    font-family: preconnect, sans-serif;
    margin: 0;
    margin-top: 5%;
}
h1{
    font-size: 50px;
}
#color{
color: orange;
}
.Text-color{
    color: #2B2B2B;
}
.text-font{
    font-family: Calibri;
    font-size: 25px;
}

.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.link-button2{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;

}


.flexible-container{
    display: flex;
    margin-bottom: 90px;
}

.half-whide{
width: 50%;
padding-left: 5%;

}
.half-whide img{
    width: 80%;
}

#Text-spece{
    margin-top: 5%;
}
#p-spece{
    margin-bottom: 10%;
}
.container{
    position: absolute;
    margin-right: 15%;
}

.flexible-container{
    display: flex;
    margin-bottom: 150px;
}

.half-whide2{
    text-align: justify;
    margin-top: 10%;
    width: 50%;
    padding-left: 50%;
}

